absl-py==0.9.0
aiofiles==0.5.0
alabaster==0.7.12
altair==4.1.0
appdirs==1.4.4
astor==0.8.1
astroid==2.3.3
astropy==4.0.2
astunparse==1.6.3
async-generator==1.10
atomicwrites==1.4.0
backports.os==0.1.1
backports.shutil-get-terminal-size==1.0.0
backports.tempfile==1.0
backports.weakref==1.0.post1
base58==2.0.1
blinker==1.4
boto==2.49.0
boto3==1.15.3
botocore==1.18.3
Bottleneck==1.3.2
brewer2mpl==1.4.1
brotlipy==0.7.0
cachetools==4.1.1
certifi==2020.11.8
coloredlogs==14.0
comtypes==1.1.7
conda==4.9.2
conda-build==3.18.9
conda-verify==3.4.2
confuse==1.3.0
contextlib2==0.6.0.post1
cycler==0.10.0
cytoolz==0.11.0
decorator==4.4.2
defusedxml==0.6.0
distlib==0.3.1
dj-database-url==0.5.0
Django==3.1.3
django-allauth==0.42.0
django-ckeditor==5.4.0
django-cleanup==2.1.0
django-crispy-forms==1.7.2
django-heroku==0.3.1
django-js-asset==1.0.0
django-split-settings==1.0.1
django-tinymce==3.0.2
djangorestframework==3.9.4
docopt==0.6.2
docutils==0.16
entrypoints==0.3
enum-compat==0.0.3
future==0.18.2
gast==0.3.3
gcloud==0.17.0
ggplot==0.11.5
gitdb==4.0.5
GitPython==3.1.9
glob2==0.7
google-auth==1.20.1
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
googleapis-common-protos==1.52.0
grpcio==1.31.0
gunicorn==20.0.4
h11==0.8.1
h2==3.2.0
h5py==2.10.0
HeapDict==1.0.1
hpack==3.0.0
hstspreload==2020.8.18
htmlmin==0.1.12
httplib2==0.18.1
httptools==0.1.1
httpx==0.9.3
humanfriendly==8.2
hyperframe==5.2.0
imagesize==1.2.0
importlib==1.0.4
isort==4.3.21
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.15.1
Jinja2==2.11.2
jmespath==0.10.0
lazy-object-proxy==1.4.3
libarchive-c==2.9
lightgbm==3.0.0
llvmlite==0.34.0
locket==0.2.0
matplotlib==3.3.2
mccabe==0.6.1
menuinst==1.4.16
metaflow==2.2.5
missingno==0.4.2
mpmath==1.1.0
msgpack==1.0.0
multidict==4.7.6
multipledispatch==0.6.0
mysql==0.0.2
mysqlclient==2.0.1
navigator-updater==0.2.1
nbdime==2.1.0
oauth2client==3.0.0
oauthlib==3.1.0
olefile==0.46
opt-einsum==3.3.0
ordereddict==1.1
packaging==20.4
partd==1.1.0
pathtools==0.1.2
patsy==0.5.1
pep8==1.7.1
pexpect==4.8.0
phik==0.10.0
psycopg2==2.8.5
ptyprocess==0.6.0
pyarrow==1.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAutoGUI==0.9.50
pycodestyle==2.6.0
pycosat==0.6.3
pycrypto==2.6.1
pycurl==7.43.0.6
pydeck==0.5.0b1
pyflakes==2.2.0
pygal==2.4.0
pygame==2.0.0
PyGetWindow==0.0.8
PyJWT==1.7.1
pylint==2.4.4
PyMsgBox==1.0.8
pyodbc===4.0.0-unsupported
pyparsing==2.4.7
pyperclip==1.8.0
pyreadline==2.1
PyRect==0.1.4
PyScreeze==0.1.26
pytest==0.0.0
pytest-arraydiff==0.3
pytest-astropy==0.8.0
pytest-astropy-header==0.1.2
pytest-openfiles==0.5.0
pytest-remotedata==0.3.2
python-dateutil==2.8.1
python-decouple==3.3
python-jwt==2.0.1
python-social-auth==0.3.6
python3-openid==3.2.0
PyTweening==1.0.3
pytz==2020.1
pywin32==227
pywinpty==0.5.7
PyYAML==5.3.1
pyzmq==19.0.2
QtPy==1.9.0
rasa-sdk==1.10.2
requests==2.24.0
requests-oauthlib==1.3.0
requests-toolbelt==0.7.0
rfc3986==1.4.0
simplegeneric==0.8.1
smmap==3.0.4
sniffio==1.1.0
snowballstemmer==2.0.0
social-auth-app-django==4.0.0
social-auth-core==3.3.3
sortedcollections==1.2.1
sortedcontainers==2.2.2
spyder-kernels==0.5.2
tables==3.6.1
tangled-up-in-unicode==0.0.6
termcolor==1.1.0
terminado==0.9.1
testpath==0.4.4
tifffile==2020.10.1
typed-ast==1.4.1
tzlocal==2.1
unicodecsv==0.14.1
validators==0.18.1
virtualenv==20.2.1
visions==0.5.0
watchdog==0.10.3
webencodings==0.5.1
websockets==8.1
Werkzeug==1.0.1
whitenoise==5.2.0
widgetsnbextension==3.5.1
win-unicode-console==0.5
wincertstore==0.2
wordcloud==1.8.0
wrapt==1.11.2
xlrd==1.2.0
xlwings==0.20.8
xlwt==1.3.0
yarg==0.1.9
zict==2.0.0
zope.event==4.5.0