@import url(http://fonts.googleapis.com/css?family=Satisfy);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600,400italic);
@import url(http://fonts.googleapis.com/css?family=Oswald:300,400,700);

body {
	overflow-x: hidden;
	font-family: 'Open Sans', sans-serif;
}


p {
	font-size: 13px;
	line-height: 21px;
}


/*Start Header  MenuBar*/

header{
	width:100%;
	overflow:hidden;
	height:80px;
	background-color: #222;
	margin-top: -10px;
	box-shadow: 0 8px 6px -6px black;
}


header nav ul li{
	padding-left: 5px;
	padding-right: 5px;
	float:left;
	overflow:hidden;
}
header nav ul li a{
	text-decoration:none;
	display:block;
	padding:15px 13px;
	text-transform:uppercase;
	font-size:13px;
	color:#ffffff;
	font-style:normal;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
header nav ul li b{
	text-decoration:left;
	display:block;
	margin-left: 30px;
	margin-right: 400px;
	text-transform:uppercase;
	font-size:35px;
	font-family: Script MT;
	color:blue;
}

h3{
	color: white;
	margin-top: -50px;
	font-family: Bahnschrift Light;
}


header nav ul li a:hover, .active{
	background: #28ABE3;
	border-radius:3px;
}
header nav ul li b:hover, .active{
	
	-webkit-animation-name: shake;
	-moz-animation-name: shake;
	-o-animation-name: shake;
	animation-name: shake;
}
header nav ul li b {
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	-o-animation-duration: 1s;
	animation-duration: 1s;
}

@-webkit-keyframes shake {
	0%, 100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
	10%, 30%, 50%, 70%, 90% {
		-webkit-transform: translateX(-10px);
		transform: translateX(-10px);
	}
	20%, 40%, 60%, 80% {
		-webkit-transform: translateX(10px);
		transform: translateX(10px);
	}
}

@-moz-keyframes shake {
	0%, 100% {
		-moz-transform: translateX(0);
		transform: translateX(0);
	}
	10%, 30%, 50%, 70%, 90% {
		-moz-transform: translateX(-10px);
		transform: translateX(-10px);
	}
	20%, 40%, 60%, 80% {
		-moz-transform: translateX(10px);
		transform: translateX(10px);
	}
}

@-o-keyframes shake {
	0%, 100% {
		-o-transform: translateX(0);
		transform: translateX(0);
	}
	10%, 30%, 50%, 70%, 90% {
		-o-transform: translateX(-10px);
		transform: translateX(-10px);
	}
	20%, 40%, 60%, 80% {
		-o-transform: translateX(10px);
		transform: translateX(10px);
	}
}

@keyframes shake {
	0%, 100% {
		-webkit-transform: translateX(0);
		-moz-transform: translateX(0);
		-o-transform: translateX(0);
		transform: translateX(0);
	}
	10%, 30%, 50%, 70%, 90% {
		-webkit-transform: translateX(-10px);
		-moz-transform: translateX(-10px);
		-o-transform: translateX(-10px);
		transform: translateX(-10px);
	}
	20%, 40%, 60%, 80% {
		-webkit-transform: translateX(10px);
		-moz-transform: translateX(10px);
		-o-transform: translateX(10px);
		transform: translateX(10px);
	}
}

/*Finish Header Menubar*/


/*Start Name Cover*/
.name {
	width: 100%;
	height: 650px;
	background-image: url('name.jpeg');
	background-size: 100% 100%;
	margin-top: -50px;
}
.name h1{
	text-align: center;
	padding-top: 10%;
	font-family: Castellar;
	font-size: 80px;
	color: white;
}
.name h2{
	text-align: center;
	color: white;
	font-size: 20px;
	width: fit-content;
	font-family: monospace; /* Web-safe typewriter-like font */
	overflow: hidden; /* Ensures the content is not revealed until the animation */
	border-right: .15em solid orange; /* The typwriter cursor */
	white-space: nowrap; /* Keeps the content on a single line */
	margin: 0 auto; /* Gives that scrolling effect as the typing happens */
	letter-spacing: .15em; /* Adjust as needed */
	animation: 
	typing 5.5s steps( 50, end),
	blinking-cursor .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
	from { width: 0 }
	to { width: 50% }
}

/* The typewriter cursor effect */
@keyframes blinking-cursor {
	from, to { border-color: transparent }
	50% { border-color: orange; }
}


/*------------------------------------------------------ */
/* Start Feature Section                              */
/*------------------------------------------------------ */


.feature-section {
	padding-top: 50px;
	height: 300px;
	width: 100%;
	display: block;
	padding-left: 50px;
	padding-right: 50px;

}

.feature {
	padding: 30px;
	text-align: center;
	height: 400px;
	width: 19%;
	overflow: hidden;
	float: left;

}


.feature h4{
	font-size: 15px;
	color: #666;
	font-weight: 400;
	font-family: 'Oswald', sans-serif;
}


.feature p{
	color: #444;
	font-size: 13px;
	line-height: 20px;
	font-weight: 300;
}

.feature i {
	background: #5BB12F;
	color: #fff;
	font-size: 2.8em;
	width: 40px;
	height: 40px;
	padding:25px;
	margin-bottom: 10px;
	position: relative;
	transition: transform .2s;
}

.feature i:hover{
	color: #42f2f5;
	transform: scale(1.5);
	-moz-box-shadow: 0 0 5px 5px #42f2f5;
	-webkit-box-shadow: 0 0 5px 5px #42f2f5;
	box-shadow: 0 0 5px 5px #42f2f5;
}

/*------------------------------------------------------ */
/* End Feature Section                                   */
/* Start my bio                                          */
/*------------------------------------------------------ */
.call-to-action {
	background-image: url("Buythissection.jpeg"); 
	background-size: 100% 100%;
	backface-visibility: 0.7;
	height:  300px;
	width: 100%;
	background-attachment: fixed;
	background-size: cover;
	padding: 80px 0;
}
.call-to-action h1{
	text-align: center;
	font-weight: 300;
	line-height: 50px;
	font-size: 30px;
	color: black;
	background: rgb(0, 0, 0); /* Fallback color */
	background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
	color: #f1f1f1; /* Grey text */
	width: 100%; /* Full width */
	padding: 20px; /* Some padding */
}

/*------------------------------------------------------ */
/* End my bio                                            */
/* Start  MY portfolio                                   */
/*------------------------------------------------------ */

.portfolio-section-1 {
	padding-top: 80px;
	padding-bottom: 120px;
	background: #f7f7f7;
}

.portfolio-section-1 h3{
	margin-top: 20px;
	color: #666;
	font-style: italic;
	font-size: 28px;
	font-family: 'Oswald', sans-serif;
	text-align: center;
}
.portfolio-section-1 p{
	padding-bottom: 60px;
	color: #999;
	font-size: 18px;
	font-weight: 300;
	text-align: center;
}
#portfolio-list {
	
	display: block;
	padding-left: 100px;
	padding-right: 100px;
}

#portfolio-list li {
	position: relative;
	overflow: hidden;
	display: inline-block;

	margin-left: -4px;
	margin-bottom: -5px;
	padding: 0;
	text-align: center;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
@media only screen 
and (max-width : 550px) {
	
	#portfolio-list li {
		width: 100%;
	}
}

@media only screen 
and (max-width : 767px)
and (min-width : 551px){
	
	#portfolio-list li {
		width: 49.9%;
	}
}

@media (min-width: 768px) {
	#portfolio-list li {
		width: 33.3%;
	}
}

@media only screen and (min-width : 601px) and (max-width : 800px) {
	#portfolio-list li {
		width: 50%;
	}
}


@media only screen and (min-width : 801px) and (max-width : 991px) {
	#portfolio-list li {
		width: 50%;
	}
}
.portfolio-item {
	width: 100%;
	height: 100%;
	position: relative;
	text-align: center;
	cursor: default;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
}

.portfolio-item img {
	vertical-align: middle;
	height: 100%;
	width: 100%;
	overflow: hidden;
	-webkit-transform: scaleY(1);
	-moz-transform: scaleY(1);
	-o-transform: scaleY(1);
	-ms-transform: scaleY(1);
	transform: scaleY(1);
	-webkit-transition: all 0.7s ease-in-out;
	-moz-transition: all 0.7s ease-in-out;
	-o-transition: all 0.7s ease-in-out;
	-ms-transition: all 0.7s ease-in-out;
	transition: all 0.7s ease-in-out;
}

.portfolio-item:hover img {
	-webkit-transform: scale(1,5);
	-moz-transform: scale(1.5);
	-o-transform: scale(1.5);
	-ms-transform: scale(1.5);
	transform: scale(1.5);
	
}





/*------------------------------------------------------ */
/* End  MY portfolio                                     */
/* Strart about me                                       */
/*------------------------------------------------------ */
.about-us-section-1 {
	padding-top: 80px;
	padding-bottom: 60px;
	width: 100%;
	height: 440px;
	
}
.about-us-section-1 h3{
	color: #666;
	font-style: italic;
	font-size: 28px;
	font-family: 'Oswald', sans-serif;
	text-align: center;
}
.about-us-section-1 p{
	margin-bottom: 60px;
	color: #999;
	font-size: 18px;
	font-weight: 300;
	text-align: center;
	
}
.welcome-section {
	padding-bottom: 250px;
	padding-left: 100px;
	padding-right: 100px;
	float: left;
	overflow: hidden;
	position: relative;
	display: inline-block;
	width: 20%;
	height: 100px;
	text-align: center;
}
.welcome-section img {
	width: 100%;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	transition: transform .2s;
}


.welcome-section img:hover{
	overflow: hidden;
	color: #42f2f5;
	transform: scale(1.5);
	-moz-box-shadow: 0 0 5px 5px #42f2f5;
	-webkit-box-shadow: 0 0 5px 5px #42f2f5;
	box-shadow: 0 0 5px 5px #42f2f5;
}

.border {
	color: black;
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
	margin: 0 45%;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.welcome-section h4 {
	color: #777;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	display: block;
}

.welcome-section p {
	text-align: center;
	padding-top: 20px;
	color: #999;
}

.welcome-section:hover .border {
	margin: 0 40%;
}





/*------------------------------------------------------ */
/* End  About me                                         */
/* Strart about me 2                                       */
/*------------------------------------------------------ */
.about-us-section-2  {
	margin-top: 8px;	
	padding-top: 80px;
	padding-bottom: 100px;
	width: 100%;
	height: 400px;
	background: gray;
}

.skill {
	padding-bottom: 5px;
}

.skill p {
	margin-bottom:7px;

}
.skill-shortcode{
	float: left;
	overflow: hidden;
	width: 40%;
	height: 80%;
	text-align: center;
	padding-left: 80px;
}

.progress {
	background: #fff;
	overflow: visible;
	height: 30px;
	margin-bottom: 10px;
	background-color: #f9f9f9;
	border-radius: 0px;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.progress-bar {
	float: left;
	height: 80%;
	font-size: 12px;
	color: #ffffff;
	text-align: center;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: width 0.6s ease;
	transition: width 0.6s ease;
	position:relative;
}

.progress-bar-span { 
	opacity:1;
	position:absolute;
	top:-5px;
	background:#ACB2B8;
	padding:10px 15px;
	color:#FFF;
	border-radius: 0px;
	right:0px;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out; 
}

.skill:hover .progress-bar-span {
	opacity:1;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}
.carousel{
     	margin-left: 50%;
     	padding: 0;
     	text-align: center;
     	width: 100%;
     	height: 100%;
     	color: #fff;
}
.carousel-inner{
	padding-top: 70px;
	padding-left: 50px;
	padding-right: 50px;
	float: left;
	overflow: hidden;
	position: relative;
	display: inline-block;
	width: 600px;
	height: 370px;
	text-align: center;
}
.carousel-inner img{
	vertical-align: middle;
	height: 100%;
	width: 100%;
}



/*------------------------------------------------------ */
/* End  About me 2                                         */
/* Strart about me 2                                       */
/*------------------------------------------------------ */

.contact-body{
	background-image: url("back.jpeg");
	height: 700px;
	background-size: 100% 100%;;
}

.contact{
	max-width:960px;
	margin:0 auto;
	
	

}
.Contact-Form{
	width:100%;
	margin:0 auto;
	text-align:center;
	margin-top:50px;
}
.Contact-Form h1{
	padding-top: 50px;
	font-family: Castellar;
	font-size: 80px;
	color: white;
}
.Contact-Form h2{
	color:#ffffff;
	text-transform:capitalize;
	margin-bottom:20px;
	font-size:30px;
}
.Contact-Form p{
	color:#9999B9;
	margin-bottom:50px;
}
.input-fields{
	width:45%;
	float:left;
	overflow:hidden;
	margin-right:30px;
	margin-top: 50px;
}
.input-fields input{
	width:354px;
	padding:15px 20px;
	margin-bottom:20px;
	border:0;
	border-radius:3px ;
}
.msg{
	width:45%;
	overflow:hidden;
	margin-top: 70px;
}
.msg textarea{
	width:354px;
	padding:10px 20px;
	margin-bottom:20px;
	height:160px;
	border:0;
	border-radius:3px ;
	resize:none;
}
.Contact-Form button{
	padding:15px 20px;
	color:#ffffff;
	text-transform:uppercase;
	border:1px solid green;
	background:blue;
	cursor:pointer;
	border-radius:3px;
	margin-right: 40px;
	margin-top: 15px;
}
.Contact-Form button:hover{
	border:1px solid blue;
	background:none;
}
.details{
	width: 300px;
	height:150px;
	color: black;
	background:white;
	padding:10px;
	float:left;
	overflow:hidden;
	margin-right:160px;
	margin-top:50px;
	border-radius:3px;
	margin-bottom:50px;
}
.details:last-child{
	margin-right:0;
}
.details h3{
	padding-top: 60px;
	font-size:16px;
	color:black;
	font-style:normal;
	margin-left:10px;
	margin-bottom:20px;
	text-transform:uppercase;
	text-align:left;

}
.details p{
	font-size:13px;
	font-family: Arial;
	color:black;
	font-style:normal;
	margin:0;
	padding:0;
	text-align:left;
	text-transform:capitalize;
	margin-left:10px;
	margin-bottom:2px;
}
footer{
	background-color: black;
	padding-bottom: 20px;
	padding-top: 20px;
	color: white;
	text-align: center

}

