<!DOCTYPE html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=utf-8" />

<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-MDND743N8W"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-MDND743N8W', { cookie_domain: 'niloy.tech' });
    </script>
    <script type="text/javascript">
        (function (c, l, a, r, i, t, y) {
            c[a] = c[a] || function () { (c[a].q = c[a].q || []).push(arguments); };
            t = l.createElement(r); t.async = 1; t.src = "https://www.clarity.ms/tag/" + i;
            y = l.getElementsByTagName(r)[0]; y.parentNode.insertBefore(t, y);
        })(window, document, "clarity", "script", "jf2n0138eg");
    </script>

    <title>{{TITLE}}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{{DESCRIPTION}}">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/x-icon" href="../../favicon.ico">
    <link rel="canonical" href="{{CANONICAL}}">
    <meta property="og:title" content="{{TITLE}}">
    <meta property="og:description" content="{{DESCRIPTION}}">
    <meta property="og:url" content="{{CANONICAL}}">
    <meta property="og:type" content="article">
    <meta property="og:site_name" content="niloy.tech">
    <meta property="og:image" content="{{OG_IMAGE}}">
    <meta property="og:image:alt" content="{{OG_IMAGE_ALT}}">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{TITLE}}">
    <meta name="twitter:description" content="{{DESCRIPTION}}">
    <meta name="twitter:image" content="{{OG_IMAGE}}">
    <meta name="twitter:image:alt" content="{{OG_IMAGE_ALT}}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,100..900&family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../css/all.min.css">
    <link rel="stylesheet" href="../../assets/plugins/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../assets/plugins/css/animate.css">
    <link rel="stylesheet" href="../../assets/css/glass-theme.css">
    <link rel="stylesheet" href="../../assets/css/styles.css">
    <link rel="stylesheet" href="../../assets/css/case-study.css">
    <link rel="stylesheet" href="../../assets/css/external-link-icon.css">
    <link rel="stylesheet" href="../../assets/css/responsive.css">
    <link rel="stylesheet" href="../../assets/css/colors/theme-colors.css">
    <link rel="stylesheet" href="../../assets/css/typography.css">
</head>

<body class="dark-vertion black-bg">
    <div class="ambient-bg" aria-hidden="true">
        <div class="ambient-bg__wash"></div>
        <div class="ambient-bg__grid"></div>
    </div>

    <div class="site-shell">
{{NAV}}

        <main class="case-study-page" id="case-study">
            <div class="container">
                <a class="case-study__back" href="../../index.html#mh-portfolio" data-case-study-back>← Back to Case Studies &amp; Projects</a>
                <div class="case-study__shell">
{{CONTENT}}
                </div>
            </div>
        </main>
    </div>

    <script src="../../assets/plugins/js/jquery.min.js"></script>
    <script src="../../assets/plugins/js/popper.min.js"></script>
    <script src="../../assets/plugins/js/bootstrap.min.js"></script>
    <script src="../../assets/js/custom-scripts.js"></script>
    <script src="../../assets/js/case-study.js"></script>
</body>

</html>
